.env
.venv/
__pycache__/
*.py[cod]
*.egg-info/
dist/
.pytest_cache/
.ruff_cache/
*.html
!src/data_product_browser/renderers/templates/*.html.j2
!src/data_product_browser/server/static/*.html

# local export artefacts
repo-export.zip
